Django
djangorestframework
djangorestframework-simplejwt
pillow
django-filter
python-dotenv
django-environ
drf-yasg
django-environ
celery
redis
django-redis
gunicorn
psycopg2-binary
django-celery-beat
requests
itsdangerous